.homepage-wrapper {
    display: grid;
    grid-template-columns: 1fr;

    .filter-links {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;

        .btn {
            width: 100%;
        }
    }
}